<% provide :title, t(".log_in") %>
<h1><%= t ".log_in" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "sessions/form" %>
    <p> <%= t ".new_user" %> <%= link_to t(".sign_up"), signup_path %></p>
  </div>
</div>
