<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user.current_user?(user) %>
    | <%= link_to t(".user_delete"), user, method: :delete,
      data: {confirm: t(".user_confirm")} %>
  <% end %>
</li>
