<% provide :title, t(".title") %>
<h1> <%= t ".title"%> </h1>

<%= paginate @user, theme: 'twitter-bootstrap-3' %>

<ul class="users">
  <% @user.each do |user| %>
    <%= render "user", user: user %>
  <% end %>
</ul>

<%= paginate @user, theme: 'twitter-bootstrap-3' %>
